body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Prueba{
    background:linear-gradient(135deg,#000000) ;
    color: white;
    text-align: center;
    padding: 50px;
}