body{
    margin:0;
    font-family:'Courier New', Courier, monospace;
}

.banner_principal{
    background-color: rgb(48, 119, 119);
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.carrusel{
    width: 400 ;
    height: 300px;
    border: 2px solid rgb(185, 29, 29);
    margin: auto;
    border-radius: 5%;
    background-image: url(images\ \(4\).jfif);
    background-size: 100% 100%;
    animation: banner 10s infinite;
}


/* CREANDO ANIMACION SE UTILIZAN UN KEYFRAME*/

@keyframes banner {
    0%, 33%{
        background-image: url(images\ \(4\).jfif);
        opacity: 1;
    }
        
    34%, 66%{
        background-image: url(images\ \(5\).jfif) ;
        opacity: 1;
    }

    67%, 100% {
        background-image: url(images\ \(6\).jfif);
        opacity: 1;
    }
    
}

.caja{
    width: 100px;
    height: 100px;
    border-left: 3px solid red;
    border-top: 3px solid black;
    border-right: 3px solid blue;
    border-bottom: 3px  solid green;
    position: absolute;
    border-radius: 300px;
    position: absolute;
    border-radius: 300px;
    animation: caja 10s infinite;
}

@keyframes caja {
    0%{
        left: 0;
        transform: rotate(0deg);
    }
    50%{
        left: 50%;
        transform: rotate(720deg);
    }

    100%{
        left: 100%;
        transform: rotate(0deg);
    }
}
